.mtavari-body{
    padding: 30px;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
.nav-a{
    color: #3D58A6;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.nav-a-active{
    color: #EE4036; 
}






/* --------მთავარი გვერდი-------- */

.banner-img{
    width: 1170px;
    height: 460px;
    margin: 77px auto 116px;
}
.blocks{
    width: 1170px;
    margin: 0 auto;
}

.featured{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.left-block, .right-block{
    width: 570px;
    height: 225px;
    background-color: #F2F2F2;
    margin-top: 30px;
    padding: 20px 30px 40px;
    display: inline-block;
    margin-bottom: 68px;
}
.block-h{
    font-size: 22px;
    color: #3D58A6;
    margin-bottom: 14px;
    /* margin-left: 28px; */
    font-family: 'Roboto', sans-serif;
}
.block-img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    /* margin-top: 12px;
    margin-left: 38px; 
    margin-right: 61px; */

}
.block-p{
    display: inline-block;
    font-size: 20px;
    width: 355px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #333333;
    letter-spacing: 1px;
    
}

.left-block{
    margin-right: 26px;
}

/* ----------end main page----------- */





/* ---------start news page------------- */

.statia{
    margin-bottom: 33px;
}
.statia-1{
    margin-top: 40px;
}

.date{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    color: #ffffff;
    font-size: 37px;
    text-align: center ;
    padding-top: 10px;
}
.month{
    font-size: 22px;
    color: #3D58A6;
    margin-top: 2px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.statia-h{
    font-size: 20px;
    margin-top: 17px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.statia-img{
    margin-top: 17px;
    display: inline-block;
    vertical-align: top;
    margin-right: 39px;
}
.all-p{
    width: 800px;
    display: inline-block;
    vertical-align: top;
    margin-top: 17px;
    font-family: "BPG Ingiri Arial", sans-serif;
    line-height: 19px;

}
.statia-p{
    font-size: 16px;
    line-height: 19px;
}
.p1{
    margin-bottom: 50px;
}

/* ------end news page----- */






/* ------start contact page---- */

.contact-header, .contact-footer{
    margin: 30px;
}
.contact-main{
    height: 570px;
    background-color: #E6E6E6;
    padding-top: 50px;
}

.contact-info{
   margin-left: 97px;
   margin-right: 63px;
   display: inline-block;
   vertical-align: top;
}
.contact-li{
    margin-top: 10px;
    font-size: 16px;
}
.contact-a{
    color: #000000;
}
.contact-h{
    color: #3D58A6;
    font-size: 20px;
}
.color-grey{
    color: #808080;
}

.map{
    display: inline-block;
    vertical-align: top;
}

/* =-----end contact page------ */





/* -------start footer------ */

.fb-icon{
    display: inline-block;

}
.line{
    width: 1px;
    height: 26px;
    background-color: #363E97;
    display: inline-block;
    margin: 0 32px;
}
.youtube-icon{
    display: inline-block;
}